{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}
    <h1>Series</h1>
    {% for serie in series %}
        <p>{{serie.title}}</p>
        <button><a href="{{path('cart_add_serie',{id: serie.id})}}">Ajouter à mon panier</a></button>
    {% endfor %}
{% endblock %}
